set default=0
set timeout=0
set gfxmode=1024x768x32,1024x768,auto
set gfxpayload=keep

menuentry "SlopOS" {
    multiboot2 /boot/slopos.elf
    module2 /boot/hello.elf hello
    module2 /boot/primes.elf primes
    module2 /boot/cat.elf cat
    boot
}
